# --------------------
# Nextflow
# --------------------
.nextflow/
.nextflow.log*
work/
pipeline/
results/

# --------------------
# Python
# --------------------
__pycache__/
*.pyc
.venv/
.env

# --------------------
# Flask / App runtime
# --------------------
instance/
app/jobs/config/

# --------------------
# Migrations
# --------------------
migrations/versions/

# --------------------
# OS
# --------------------
.DS_Store
.idea/
.vscode/